<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/contact.css">
    <script src="https://kit.fontawesome.com/058c95a0e7.js" defer crossorigin="anonymous"></script>
    <title>Contact | Portfolio</title>
</head>
<body>
    <div class="parent">
        <div class="contact">
            <button><a href="https://pandachrist.github.io/Portfolio/views/contact.html">Contact</a></button>
        </div>
        <div class="nav">
            <li class="nav-link active"><a  href="https://pandachrist.github.io/Portfolio/">Dev</a></li>
            <li class="nav-link"><a href="https://pandachrist.github.io/Portfolio/views/skills.html">Skills</a></li>
            <li class="nav-link"><a href="#">A Propos</a></li>
            <li class="nav-link"><a href="https://pandachrist.github.io/Portfolio/views/portfolio.html">Portfolio</a></li>
        </div>
        <div class="social">
            <div>
                <div>
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                </div>
                <div>
                    <i class="fa-brands fa-github fa-2x"></i>
                </div>
            </div>
        </div>

        
            <div class="info">  
                <div class="info-header">
                    DISCUTER AVEC MOI
                    <div class="underline"></div>
                </div>
                <div class="mail">
                    <div class="icone">
                        <i class="fa-regular fa-envelope fa-2x"></i>
                    </div>
                    <div class="item">
                        christianbakiti07@gmail.com
                    </div>
                </div>
                <div class="number">
                    <div class="icone">
                        <i class="fa-solid fa-phone fa-2x"></i>
                    </div>
                    <div class="item">+237 6 59 35 71 04</div> 
                </div>
                <div class="location">
                    <div class="icone">
                        <i class="fa-solid fa-location-pin fa-2x"></i>
                    </div>
                    <div class="item">Yaoundé, Cameroun</div>
                </div>
            </div>
            <div class="form">
                <div>
                    <div class="info-header">
                        DISCUTER AVEC MOI
                        <div class="underline"></div>
                    </div>
                    <li><input type="text" placeholder="Votre nom"></li> 
                    <li><input type="text" placeholder="Votre mail"></li> 
                    <li><input type="textarea" placeholder="Votre message" class="message"></li>
                    <li class="boutton-li"><input type="button" class="boutton" value="Envoyer"></li>
                </div>
            </div>


        <div class="page">
            <div class="page-number">
                04
            </div>    
        </div>
    </div>
</body>
</html>
