<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/skills.css">
    <script src="https://kit.fontawesome.com/058c95a0e7.js" defer crossorigin="anonymous"></script>
    <title>Skills | portfolio</title>
</head>
<body>
    <div class="parent">
        <div class="contact">
            <button><a href="https://pandachrist.github.io/Portfolio/views/contact.html">Contact</a></button>
        </div>
        <div class="nav">
            <li class="nav-link active"><a  href="https://pandachrist.github.io/Portfolio/">Dev</a></li>
            <li class="nav-link"><a href="https://pandachrist.github.io/Portfolio/views/skills.html">Skills</a></li>
            <li class="nav-link"><a href="#">A Propos</a></li>
            <li class="nav-link"><a href="https://pandachrist.github.io/Portfolio/views/portfolio.html">Portfolio</a></li>
        </div>
        <div class="social">
            <div>
                <div>
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                </div>
                <div>
                    <i class="fa-brands fa-github fa-2x"></i>
                </div>
            </div>    
        </div>
        <div class="skills">
            <div class="skills-header">
                JE SUIS UN DEVELOPPEUR FULLSTACK
                <div class="underline"></div>
            </div>
            <p>
                Lorem dolor est is es mecanos dos pioro les que un club 
                do poco do  visca micado minuto continuara do 
                lest is es mecanos dos pioro les que.
            </p>
            <div class="item">
                <div class="img-moi">
                    <img src="../images/accueil/ChrisPourPortfolio3.png" alt="Moi">
                </div>
                
                <div class="percent">90%</div>
                <div class="barre-description">
                    <div class="barre js"></div>
                    <div class="description">Javascript</div>
                </div> 
                <div class="percent">89%</div>
                <div class="barre-description">
                    <div class="barre react"></div>
                    <div class="description">React JS</div>

                </div>  
                <div class="percent">92%</div>
                <div class="barre-description">
                    <div class="barre php"></div>
                    <div class="description">PHP</div>

                </div> <div class="percent">92%</div>
                <div class="barre-description">
                    <div class="barre laravel"></div>
                    <div class="description">Laravel</div>

                </div>
                <div class="percent">70%</div>
                <div class="barre-description">
                    <div class="barre python"></div>
                    <div class="description">Python</div>

                </div> <div class="percent">99%</div>
                <div class="barre-description">
                    <div class="barre html"></div>
                    <div class="description">HTML/CSS</div>
                    
                </div> <div class="percent">95%</div>
                <div class="barre-description">
                    <div class="barre xd"></div>
                    <div class="description">Adobe XD</div>
                </div>
            </div>    
        </div>
        <div class="page"><p>02</p></div>
        <div class="moi">
            <img src="../images/accueil/ChrisPourPortfolio3.png" alt="">    
        </div>
    </div>
</body>
</html>
